name: C CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
    - uses: actions/checkout@v4

    - name: Update packages
      run: sudo apt-get update |
            sudo apt-get install libgl1-mesa-dev

    - name: Install packages
      run: sudo apt-get install --fix-missing libgl1-mesa-dev

    - name: build cub3d
      run: make

